
body{
	background-image: url('https://i.chzbgr.com/full/6972493568/hBF7813FF/how-to-lower-your-blood-pressure-and-increase-happiness-with-one-gif');
	background-repeat: repeat-x;
}

.location{
	margin-top: 5px;
	margin-top: 5px;
	text-align: right;
	position: fixed;
  width: 600px;
  height: 200px;
  left: 50%;
  top: 5%;
	/*background-image: linear-gradient(to right, #C9FBF1, #8addec ,#c2f34e);*/
}

h1{
	text-shadow: 2px 2px 5px brown;
	font-family: cursive;
	
}


input[type="text"]{
	height:40px;
	width:270px;
	border-radius: 5px;
	border: 2px solid #113F7B;
    text-align:center;

}





.del{
	margin-left: 5px;
	border-radius: 2px;
}
.btn1{
	
	border-radius:8px;
	border: 2px solid #E1175A;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Nunito", sans-serif;

}

.display{
	text-align: left;
	margin-top: 5px;
	position: static;
}

.input{
	margin-top: 0px;
	text-align: left;
	position: static;

}

.para{
	text-align: right;
	margin-top: 10px;
}

ol li {
	list-style: none;
	line-height: 30px 0 45px 0;
	font-family: 'Bangers', cursive;
	font-size: 2;
	display:block;
}

ol{
	padding: 30px;
}
	
  

.div2{
	text-align: center;
	margin-top: 170px;
}

.div3{
	
	position: fixed;
  width: 600px;
  height: 200px;
  left: 50%;
  top: 5%;
  margin-left: -600px; 
}

p{
	display: inline;
	padding-left: 5px;
}

.del, .btn1{
	border: 1px solid rgb(173, 20, 97);
	background-color: transparent;
	padding:3px;
	border-radius: 4px;
}

.del:hover{
	background-color: teal;
}

.para p{
	float:right;
	padding:10px;
	font-family: cursive;
	font-weight: 700;

}
 
.display p{
	display:block;
	font-weight: bold;
	color:rgb(67, 80, 197);
}